
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
}

body{
    background-color: rgb(23, 22, 22);
    color: white;
}


/* !!!!!!!!!!!!==========All Tittle change=============!!!!!!!! */

.head{
    margin-top: 4rem;
     margin-bottom: 4.5rem;
}

.head h1{
    text-transform: uppercase;
        font-size: var(--head-size);
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 2rem;
 }

/* !!!!!!!!!!!!==========All Tittle change=============!!!!!!!! */



:root{
   --head-size:3rem;
}

::-webkit-scrollbar{
    width: 10px;
}


::-webkit-scrollbar-track{
    background-color: rgb(21, 22, 22);
}


::-webkit-scrollbar-thumb{
    background: linear-gradient(105deg, rgba(34,193,195,1) 0%, rgba(222,89,23,1) 100%);
    border-radius: 10px;
}

/* ==header nav */


/* top-contat */

.top-email{
    width: 100%;
    padding: 10px;
    background-color: black;
}

.top-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-content{
    display: flex;
    gap: 8px;
}

.top-icon i{
    font-size: 24px;
}

.top-icon h4{
    font-size: 20px;
    color: white;
}


.email i{
    color:rgb(142, 68, 173);
}

.number i{
    color: rgb(0, 151, 230);
}


header{
    width: 100%;
 
    position:fixed;
    left: 0;
    top: 0;
    z-index: 9999;

}

header nav{
    background: rgba(87, 101, 116,1.0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 0.3rem;
    
}

/* haeder-logo */

.head-icon{
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.head-icon img{
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.head-icon img:hover{
    transform: translateY(-5px);
}

nav .head-title-section{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

nav .head-title-section .head-icon i{
    font-size: 1.8rem;
    color: white;
}


nav h3{
    color: white;
    font-family: "Pacifico", serif;
    font-size: 1.5rem;
}

/* ======heade-menu =====*/


nav ul {
    display: flex;
   margin-top: 10px;
    /* gap: 10px; */
    gap: 4rem;
    font-family: "Lilita One", serif;
    list-style-type: none;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    position: relative;
    letter-spacing: 2px;
    user-select: none;

}

nav ul li a::before{
 content: '';
 position: absolute;
 left: 0;
 bottom: -5px;
 height: 4px;
 width: 0;
 border-radius: 4px;
 background:linear-gradient(to right ,rgba(52, 152, 219,1.0),rgba(189, 195, 199,1.0));
 transition:all 0.4s ease-in-out;


}
nav ul li a:hover::before{
    width: 100%;
} 



.nav-contact-btn{
    width: 100px;
    height: 40px;
}

.nav-contact-btn button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
}

/* ====moblie device menu icon====*/

 .menu-bar {
   display: none;

}

.menu-bar i{
    font-size: 20px;
}

#close-btn{
    display: none;
}

#close-btn i{
    font-size: 25px;
    color: white;
    transition: 0.5s;

}

#close-btn i:hover{
    transform: rotate(360deg);
}



/* ======media quary mobile device  (max-900px) ===================== */

@media screen and (max-width:900px) {

    .head{
        margin-top: 2rem;
         margin-bottom: 3rem;
    }
    
    .head h1{
            font-size:28px; 
     }

    .top-icon{
        flex-direction: column;
        row-gap: 10px;
    }

    .top-icon i{
        font-size: 18px;
    }
    
    .top-icon h4{
        font-size: 18px;
    }
    
    

    header nav{
        background:linear-gradient(to right ,rgba(0, 151, 230,1.0),rgba(127, 143, 166,1.0));
        position: relative;
        border-radius: 0;
        justify-content: space-between;
        padding: 10px;
   /* overflow: hidden; */

    }
    

    nav ul{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 62px;
        left:-100%;
        background:linear-gradient(rgba(44, 62, 80,1.0),rgba(149, 165, 166,1.0));
        padding:35px 10px;
        gap: 30px;
        margin-top: 0px;
        border-bottom-right-radius:5px ;
        border-bottom-left-radius:5px ;
        transition: all 0.5s ease;
    }

    nav .active{
        background-color: rgb(255, 208, 127);
        left: 0;

    }
    

    nav ul li a{
        color: white;
        font-weight: bolder;
       
    } 

    .menu-bar {
        display: block;
     
     }

     #close-btn{
        display: block;
        position: absolute;
        top:10px;
        right:6px;
    }

    .nav-contact-btn{
        display: none;
    }

    .head-icon{
        width: 40px;
        height: 40px;
        overflow: hidden;
    }


    nav ul li a::before{
        background:linear-gradient(rgb(33, 238, 14),rgba(0, 168, 255,1.0));
    }


}


/* ================================nav end==================================== */


/* ===========================home page====================== */



.home{
    height: 110vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/background-gif.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;

}

.home-left{
    width: 60%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: white;
        user-select: none;
      
}



.home-left h1{
    font-size: 3rem;
    letter-spacing: 4px;
}

.home-left h2{
    font-size: 2rem;
}

.sec-text{
    color: red;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* .container{
    width: 246px;
    overflow: hidden;
} */

.text{
    position: relative;

}

.sec-text::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    border-left:2px solid white;
    animation: animate 6s  steps(12) infinite;
}


@keyframes animate{

    40%, 60%{
        left: calc(100% + 8px);
    }


    100%{
        left:0%;
    }

}
    





.home-left p{
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}



.home-right{
    width: 40%;
    text-align: center;
   
}

.home-img{
    width: 100%;
}

.home-img img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 3px solid rgb(114, 110, 110);
    padding: 10px;

}

.home-btn{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

.home-btn button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
    background:linear-gradient(to bottom ,rgba(253, 121, 168,1.0),rgba(245, 246, 250,1.0));
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 0.4s ease;
}

 .home-btn button a{
    text-decoration: none;
     color: black;
} 

.home-btn button:hover{
    background:linear-gradient(to bottom ,rgb(63, 240, 92),rgba(245, 246, 250,1.0));
 
   
} 

/* ==================home page media quary ======================== */

@media screen and (max-width:900px) {

    .home{
        flex-direction: column;
        height: 100%;
        row-gap: 40px;
        padding-top: 40px;
        
        
     } 

    .home-left{
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .home-right{
        width: 100%;
    }

    .home-left h1{
        font-size: 2rem;
        letter-spacing: 4px;
    }
    
    .home-left h3{
        font-size: 1rem;
    }
    
    .home-left p{
        text-align: justify;
        font-size: 19px;
        line-height: 23px;
        padding-left: 0px;
        row-gap: 10px;
        padding: 8px;
    }

   
 }  

 /* ==============home End====================================== */



 /* =======skills=============== */

 .main-skill{
    padding: 20px;
    overflow: hidden;
 }

 .skil-head{
    text-align: center;
    margin-top: 10px;
    
 }




 .skil-head p{
    font-size: 20px;
    margin-bottom: 2.5rem;
 }

 .all-skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
 }

 .lft-skill{
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: rgba(247, 51, 218, 0.24) 0px 3px 8px; */
    box-shadow: rgba(243, 14, 235, 0.35) 0px 8px 10px;

 }

  .tool h1{
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0.8rem;
 }

.tools
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

 .card-btn{
    /* width: 30%; */
    height: 80px;
    border-radius: 10px;
    border: 2px solid rgb(179, 167, 167);
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
 }

 .rgt-tools{
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(243, 14, 235, 0.35) 0px 8px 10px;


 }

 .skill-image{
    width:80px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;

 }

 .skill-image img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
 }

 .skill-image img:hover{

    transform: scale(0.6);

 }


 /* skill media quary */

 @media screen and (max-width:900px) {

    .all-skills{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 40px;
    }


    .lft-skill{
        width: 100%;
    }

    .rgt-tools{
        width: 100%;
    }
    
 }

 /* =================skills End=================== */


/* =========================================about start ===============================*/


.about-container{
    width: 100%;
    overflow: hidden;
    
}


.abt-head h1{
    margin: 3rem 0;

}


.education-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.education{
    width: 30%;
    border: 2px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
}

.con-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.con-logo i{
    font-size: 20px;
    color: orangered;
}

.con-detail {

    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.con-detail p{
    font-size: 18px;
    text-align: justify;
    color: aqua;
}

.con-detail h4{
    font-size: 21px;
    color: rgb(154, 21, 231);
}

.con-detail h5{
    font-size: 18px;
    color: red;
}
/* ====================about meadia quary================== */

@media screen and (max-width:900px){
    .education{
        width: 80%;
    }
}
   
/* ===========project start================== */

.project-card-all{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(2,200px); */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.project-card{
    width: 20%;
    border: 1px solid white;
    background: linear-gradient(to bottom,rgba(149, 165, 166,1.0),rgb(71, 169, 211));
    border-radius: 10px;
    transition: all 0.3s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.project-card:hover{
    transform: translateY(-10px);

}

.project-img{
    height: 200px;
    border-bottom: 1px solid white;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;


}


.project-img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.project-img img:hover{
    transform: scale(1.2);
}

.project-content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    color: black;
 user-select: none;
}


.project-content .skill-button{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-button button{
    height: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid white;
    color: rgb(14, 14, 14);
    font-weight: bolder;
    background: linear-gradient(to right,rgb(180, 194, 208),rgb(226, 125, 25));
    position: relative;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.skill-button button::before{
    content: "";
    width: 0;
    height: 100%;
    background:linear-gradient(to right ,rgba(10, 189, 227,1.0),rgb(132, 244, 52));
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    transition: all 0.6s;
    z-index: -1;

    
}

button:hover::before{
    width: 100%;
   
  
}

.project-content h2{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.project-content p{
    font-size: 17px;
    text-align: justify;
}


/* over view */
/* .project-container{
    position: relative;

}

.over-view{
    width: 400px;
    height: 300px;
    background-color:white;
    position: absolute;
    top: 20%;
    left: 40%;
   border-radius: 10px;
   padding: 10px;
   display: none;
   transition: all 0.5s ease-in-out;
}

.over-view.view-active{
    display: block;
} */



.over-view
i{
    color: black;
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 20px;
    
    
}

.over-view
i:hover{
    color: red;
}
 .img-view{
    width: 100%;
    height: 150px;
    
}

.img-view img{
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
}

.view-btn{
    /* text-align: center; */
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;
   /* margin-top: 3rem; */
   
   
}
.view-btn button a{
    text-decoration: none;
    color: orangered;
}

.view-btn button{
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid purple;
    font-weight: bold;
    background: rgb(22, 21, 21);



}






/* project media quary */


@media screen and (max-width:600px) {

    .project-card{
        width: 80%;
    }


    .skill-button button{
        width: 20%;
    }
    
}


@media screen and (min-width:600px) and (max-width:800px) {

    .project-card{
        width: 40%;
    }


    .skill-button button{
        width: 25%;
    }
    
}


@media screen and (min-width:800px) and (max-width:900px){

    .project-card{
        width: 30%;
    }


    .skill-button button{
        width: 40%;
    }
    
}



@media screen and (min-width:900px) and (max-width:1244px){

    .project-card{
        width: 30%;
    }


    .skill-button button{
        width: 20%;
    }
    
}


/* contact */

.contact-over{
    width: 100%;
    display: grid;
    place-items: center;

}

.form-container{
    width: 500px;
    background-image:url(image/back.avif) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 40px;

    box-shadow: rgba(234, 12, 242, 0.35) 0px 5px 25px;
}


.form-container input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1rem;
    border: 2px solid rgb(132, 129, 129);
}

.form-container input:focus{
   outline: none;
}

.form-container textarea:focus{
   outline: none;
    

}

.form-container input:hover{
    /* border: 2px solid blue; */
    border:2px solid rgb(0, 168, 255) ;

}

.form-container textarea:hover{

    border:2px solid rgb(0, 168, 255) ;

}

.form-container textarea{
    width: 100%;
    height: 80px;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 10px;
}



.form-title h3{

    color: black;
    font-size: 24px;
    font-weight: bolder;

}

.form-title h3 i{
    font-size: 18px;
    color: red;
}

.submit-btn{
    text-align: center;
    margin-top: 1.2rem;
}

.submit-btn button{
    width: 20%;
    padding: 8px;
    background-color: palevioletred;
    color: black;
    font-weight: bolder;
    border-radius: 7px;
    border: 2px solid gray;
    
}

.submit-btn button:hover{
    border:2px solid rgb(0, 168, 255) ;

}
/* =============contact media quary================ */

@media screen and (max-width:900px) {

    .form-container{
        width: 80%;
    }

    
}



/* ===========contact end==== */


.footer-container{
    width: 100%;
    background-image:url(image/footer.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    /* border-radius: 10px; */
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    backdrop-filter: blur(100px);
    padding: 10px;
}

.foot-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.foot-title h3{
    font-size: 35px;
    color:black;
    font-weight: 600;
    
    font-family: "Pacifico", serif;

}
.footer-nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: "Pacifico", serif;

    gap: 20px;
}

.footer-nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.footer-nav li a:hover{
color:white;
}


.social-media{
    display: flex;
    align-items: center;
    gap: 30px;
}

.foot-icon a{
    text-decoration: none;
    color: black;
}

.foot-icon a i{
    font-size: 25px;
}

.foot-icon a i:hover{
    color: white;
}


/* ===foooter media quaary */

@media screen and (max-width:900px){

    .footer-nav ul{
        flex-direction: column;
        row-gap: 10px;
    }


    .footer-container{
    
        /* border-radius: 10px; */
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        
    }

    .foot-icon a i{
        color:rgb(0, 151, 230) ;
    }
    

    
};

.copy-right p{
    font-size: 30px;
}